<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyle.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>  
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='location.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='get_stats.js') }}"></script>
  <title>Home Internet Monitor</title>
</head>

<body onload="getLocation()">
    {% block content %}

    {% endblock %}
</body>
</html>